
#php_value date.timezone 'Africa/Nairobi'
DirectoryIndex authentication
ErrorDocument 400 /Error/401.php
ErrorDocument 401 /Error/401.php
ErrorDocument 403 /Error/403.php
ErrorDocument 404 /Error/404.php
ErrorDocument 500 /Error/500.php
RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
Options -Indexes

#php_flag display_errors on